.footer {
  background-color: var(--blanco);
  color: #333;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  flex: 2;
  display: flex;
  align-items: center;
}

.footer-logo img {
  max-width: 100px;
}

.footer-logo h1{
    font-size: 3rem;
    color: black;
    position: relative;
    right: 20px;
}

.footer-logo h1 span{
    color: var(--naranja-claro);
}

.footer-columns {
  flex: 4;
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
}

.footer-column:first-child {  /* Aplica solo a la primera columna */
  flex: 1.5; 
}

.footer-column h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: #607082;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}