.help-banner-container{
    width: 100%;
    height: calc(100vh - 90px);
    background-image: url('../../../assets/landing-images/habilidades-call-center.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
 
}

.help-content {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con opacidad */
    padding: 20px; /* Ajusta el padding según necesites */
    margin-left: 50px;
    border-radius: 8px; /* Opcional: añade bordes redondeados */
    line-height: 1.6;
}

.help-content .support{
    color: var(--naranja-claro);
    font-weight: var(--f_weight_bold);
}

.help-content h1{
    font-size: 3rem;
}

.help-content h1 span{
    color: var(--naranja-claro);
}

.help-content .help-wanted{
    font-size: 3rem;
    font-weight: var(--f_weight_bold);
}

/* ------Help Frecuents----------*/

.help-options{
    height: 100vh;
    margin-top: 60px;
}

.help-options h2{
    text-align: center;
    font-size: 2rem;
}

.help-icons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.help-icon{
    display: flex;
    align-items: center;
    border: 2px solid #ccc; /* Borde del div */
    border-radius: 8px;
    margin: 10px; /* Margen exterior alrededor de cada icono */
    padding: 20px; /* Espaciado interno dentro del div */
    width: 300px; /* Ancho del div */
    margin-top: 30px;
}

.help-icon img{
    width: 80px;
}

.help-icon p {
    margin-left: 25px;
    line-height: 1.5;
    font-weight: var(--f_weight_bold);
}

.help-options h3{
    width: 50%;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    line-height: 1.5;
}

.help-button-contact{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.help-button-contact button{
    font-size: var(--f_size_p);
    color: var(--blanco);
    background-color: var(--naranja-claro);
    border-radius: 6px;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
}

.help-button-contact button:hover{
    background-color: var(--naranja-claro-hover);
}